*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.493);
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background-color: beige;
    width: fit-content;
    height: auto;
    text-align: center;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    
}

.mensaje{
  display:none;
  color:red
}

input{
    border: none;
    width:250px;  
    height: 40px;
    align-self: center;
    margin: 5px 0;
}

form label:nth-child(1),label:nth-child(3){
 font-weight: 700;
}

input::placeholder{
    color: orange;
    font-weight:lighter;
    text-align: center;
}
input:focus{
    border: none;
    outline: none;
}

.ingresar{
    width: 100px;
    height: 30px;
    font-size: 0.7em;
    align-self: center;
    margin-top: 10px;

}

input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-top: 20px;
}

